<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="~/css/layout.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/js/sideBar.js"></script>
    <script src="~/js/menu.js"></script>
    <script src="~/js/lock.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/lock.css">
    <link rel="stylesheet" type="text/css" href="~/css/menu.css">
    <link rel="stylesheet" type="text/css" href="~/css/sideBar.css">

</head>
<body>
    <div id="sidebar-container">
        <div id="sidebar-session">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Menu</h3>
                    <img id="hide-side-bar" alt="arrow" src="~/images/left-arrow-white.png">
                </div>

                <ul class="list-unstyled">
                    <li class="active" id="divMenu">

                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <section class="clearfix screen-mainmenu">
        <div class="container-fluid" style="margin-top: 120px">
            <div class="row">
                <!-- LeftMain -->
                <div id="leftMain" class="col-sm-3 screen-leftmenu infor" style="position: fixed;border-right:dashed;background-color:aqua;min-height:400px">
                    <p>akjhsdkjdhasjdhds</p>
                </div>
                <!-- Rightmain -->
                <div id="rightMain" class="col-sm-9 screen-rightmenu" style="background-color:aliceblue;min-height:400px;float:right">
                    @RenderBody()
                </div>

            </div>
        </div>
    </section>
    <div>
        <nav class="navbar navbar-expand-sm " style="background-image: url('https://img2.thuthuatphanmem.vn/uploads/2018/11/30/hinh-nen-may-trang-dep_104324872.jpg'); top: 0px; position: fixed; width: 100%">
            <!-- Brand/logo -->
            <ul class="navbar-nav mr-auto ">
                <div id="mainMenu">
                    <span style="font-size: 30px; cursor: pointer" onclick="openNav()">&#9776;</span>
                </div>
            </ul>
            <ul class="navbar-nav justify-content-end" style="float:right">
                <li><div id="vnclock" align="center" style="overflow-x : hidden; margin-right:20px; margin-top:10px "></div></li>
                <li>
                    <a href="home">
                        <img src="https://www.upsieutoc.com/images/2020/04/22/logo2.png" alt="logo2.png" border="0" style="height:100px" />
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</body>
</html>