

<form action="#" method="POST" accept-charset="UTF-8">

    <input class="form-control form-control-lg" type="text"
           placeholder="ID" name="employeeIdAdd" id="employeeID"
           style="height: 2em; border-radius: 2em; margin-top: 0.3em; display: none;">
    <input style="display: none" id="ava-upload" name="images">
    <input class="form-control form-control-lg" type="text"
           placeholder="Họ và tên" name="employeeNameAdd" id="employeeName"
           style="height: 2em; border-radius: 2em; margin-top: 0.3em;">
    <input class="form-control form-control-lg" type="text"
           placeholder="Tên đăng nhập" name="userEmpAdd" id="userEmp"
           style="height: 2em; border-radius: 2em; margin-top: 0.3em;">
    <input class="form-control form-control-lg" type="text"
           placeholder="Mật Khẩu" name="passwordEmp" id="passwordEmpAdd"
           style="height: 2em; border-radius: 2em; margin-top: 0.3em;">
    <input class="form-control form-control-lg" type="text"
           placeholder="Chức Vụ" name="department" id="departmentAdd"
           style="height: 2em; border-radius: 2em; margin-top: 0.3em;">
    <input class="form-control form-control-lg" type="date"
           placeholder="Ngày Sinh" name="dateOfBirth" id="dateOfBirthAdd"
           style="height: 2em; border-radius: 2em; margin-top: 0.3em;">
    <select class="form-control"
            style="border-radius: 2em; margin-top: 0.3em;" id="sex">
        <option value="Nam">Nam</option>
        <option value="Nữ">Nữ</option>
    </select> <input class="form-control form-control-lg" type="text"
                     placeholder="Đại chỉ" name="addressEmp" id="addressEmpAdd"
                     style="height: 2em; border-radius: 2em; margin-top: 0.3em;">
    <input class="form-control form-control-lg" type="text"
           placeholder="Email" name="emailAddress" id="emailAddressAdd"
           style="height: 2em; border-radius: 2em; margin-top: 0.3em;">
    <input class="form-control form-control-lg" type="text"
           placeholder="Số DT" name="phoneNumber" id="phoneNumberAdd"
           style="height: 2em; border-radius: 2em; margin-top: 0.3em;">
    @Html.Action("getRoles", "Home")

</form>

