@using EntityFW.EF6
@model List<Employee>

<form action="#" method="POST" accept-charset="UTF-8">
    <input class="form-control form-control-lg" type="text"
           placeholder="ID" name="employeeID" id="employeeID"
           style="height: 2em; border-radius: 2em; margin-top: 0.3em; display: none;">
    <input style="display: none" id="ava-upload" name="images">
    <input class="form-control form-control-lg" type="text"
           placeholder="Họ và tên" name="employeeName" id="employeeName"
           style="height: 2em; border-radius: 2em; margin-top: 0.3em;">
    <input class="form-control form-control-lg" type="text"
           placeholder="Tên đăng nhập" name="userEmp" id="userEmp"
           style="height: 2em; border-radius: 2em; margin-top: 0.3em;">
    <input class="form-control form-control-lg" type="text"
           placeholder="Mật Khẩu" name="passwordEmp" id="passwordEmp"
           style="height: 2em; border-radius: 2em; margin-top: 0.3em;">
    <input class="form-control form-control-lg" type="text"
           placeholder="Chức Vụ" name="department" id="department"
           style="height: 2em; border-radius: 2em; margin-top: 0.3em;">
    <input class="form-control form-control-lg" type="date"
           placeholder="Ngày Sinh" name="dateOfBirth" id="dateOfBirth"
           style="height: 2em; border-radius: 2em; margin-top: 0.3em;">
    <select class="form-control"
            style="border-radius: 2em; margin-top: 0.3em;" id="sex">
        <option value="Nam">Nam</option>
        <option value="Nữ">Nữ</option>
    </select> <input class="form-control form-control-lg" type="text"
                     placeholder="Đại chỉ" name="addressEmp" id="addressEmp"
                     style="height: 2em; border-radius: 2em; margin-top: 0.3em;">
    <input class="form-control form-control-lg" type="text"
           placeholder="Email" name="emailAddress" id="emailAddress"
           style="height: 2em; border-radius: 2em; margin-top: 0.3em;">
    <input class="form-control form-control-lg" type="text"
           placeholder="Số DT" name="phoneNumber" id="phoneNumber"
           style="height: 2em; border-radius: 2em; margin-top: 0.3em;">
    @Html.Action("getRoles","Home")

</form>
